<!--<nav class="navbar navbar col-md-offset-0">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="School Management System" src="/assets/school-management-system.jpg" style="width:40%">
          </a>
        </div>
      </div>
</nav>-->

<div class="col-md-10 col-md-offset-1" style="padding-bottom: 15px; margin-top: 30px" >

    <ul class="nav nav-tabs">
      <li role="presentation" class=""><a routerLink="/">User List</a></li>
      <li role="presentation"><a routerLink="/addbook">Add User</a></li>

      
    </ul>
</div>