
<div class="col-md-10 col-md-offset-1">
  <table class="table table-bordered table-hover table-striped" >

        <tr>
          <!--<th>ID</th>-->
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Company</th>
          <th>Action</th>
          
        </tr>

        <tr *ngFor="let ul of uList.userList; let i = index">
            <!--<td> {{ ul.id }} </td>-->
            <td> {{ ul.name }} </td>
            <td> {{ ul.email }} </td>
            <td> {{ ul.address }} </td>
            <td> {{ ul.company }} </td>
            
          
            <td> 
            {{ ul.action }}
            <button class="btn btn-danger" (click)="remove(i)">Remove</button>
            
          </td>    
        </tr>

    </table>
</div>
