<div class="col-md-10 col-md-offset-1">

  <h4 style="padding-bottom: 20px; font-weight:600">User Data</h4>

  <div class="form-group" style="padding-bottom: 30px">
    <label for="" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" [(ngModel)] = "newName" id="" placeholder="" style="width:80%">
    </div>
  </div>

  <div class="form-group" style="padding-bottom: 30px">
    <label for="" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" [(ngModel)] = "newEmail" id="" placeholder="" style="width:80%">
    </div>
  </div>

  <div class="form-group" style="padding-bottom: 30px">
    <label for="" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="address" [(ngModel)] = "newAddress" id="" placeholder="" style="width:80%">
    </div>
  </div>

  <div class="form-group" style="padding-bottom: 30px">
    <label for="" class="col-sm-2 control-label">Phone Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="phone" [(ngModel)] = "newPhone" id="" placeholder="" style="width:80%">
    </div>
  </div>

  <div class="form-group" style="padding-bottom: 30px">
    <label for="" class="col-sm-2 control-label">Company Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="company" [(ngModel)] = "newCompany" id="" placeholder="" style="width:80%">
    </div>
  </div>

<div class="form-group" style="padding-bottom: 30px; padding-left: 15px">
   <button class="btn btn-primary" (click)="addUser()">Add User</button>
</div>
    
</div>
